code,
code[class*='language-'],
pre[class*='language-'] {
  color: #24292e;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  tab-size: 4;
  hyphens: none;
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  line-height: 1.4;
  direction: ltr;
  cursor: text;
}

pre[class*='language-'] {
  overflow: auto;
  margin: 1em 0;
  padding: 1.2em;
  border-radius: 3px;
  font-size: 85%;
}

p code,
li code,
table code {
  margin: 0;
  border-radius: 3px;
  padding: 0.2em 0;
  font-size: 85%;
}
p code:before,
p code:after,
li code:before,
li code:after,
table code:before,
table code:after {
  letter-spacing: -0.2em;
  content: '\00a0';
}

:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #6a737d;
}
.token.punctuation,
.token.string,
.token.atrule,
.token.attr-value {
  color: #032f62;
}
.token.property,
.token.tag {
  color: #22863a;
}
.token.boolean,
.token.number {
  color: #005cc5;
}
.token.selector,
.token.attr-name,
.token.attr-value .punctuation:first-child,
.token.keyword,
.token.regex,
.token.important {
  color: #d73a49;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string {
  color: #005cc5;
}
.token.entity {
  cursor: help;
}

.namespace {
  opacity: 0.7;
}
