@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
  --base-font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, pingfang sc,
    source han sans sc, noto sans cjk sc, sarasa gothic sc, microsoft yahei, sans-serif, Apple Color Emoji,
    Segoe UI Emoji;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--base-font-family);
  -webkit-font-smoothing: antialiased;
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column nowrap;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 2rem;
  padding: 0.8rem 0rem;
  background: #ffffff;
  color: #000000;
  font-size: 1.4rem;
  box-shadow: inset 0 -1px #eaeaea;
  margin-bottom: 1.5rem;
}

a {
  transition: 0.2s all ease-in-out;
  color: #0070f3;
}

.brand {
  font-weight: bold;
}

.container,
.paginate-container {
  width: calc(100% - 40px);
  max-width: 800px;
  margin: 0 auto;
}

.path {
  margin-bottom: 1.5rem;
  font-size: 0.88rem;
  color: #999;
}

.path a {
  text-decoration: none;
  color: #333;
}

.items {
  overflow-x: auto;
  display: flex;
  flex-flow: column nowrap;
  background: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}

a.item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
  padding: 0.8rem 1rem;
  transition: 0.2s all ease-in-out;
}

a.item i {
  margin-right: 0.5rem;
}

a.item .size {
  opacity: 0.6;
}

footer {
  font-size: 0.8rem;
  color: #666;
  width: calc(100% - 40px);
  padding: 1.6rem 0rem;
  text-align: center;
}

footer a {
  text-decoration: none;
}

a:hover,
a.item:hover {
  opacity: 0.6;
}

.download-button-container {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.download-button {
  display: block;
  background-color: #000;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 1.5rem auto;
  max-width: 180px;
  user-select: none;
  border-radius: 2px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}

.markdown-body {
  font-family: var(--base-font-family) !important;
  margin-top: 1.5rem;
}

.loading-label {
  font-family: var(--base-font-family) !important;
  text-align: center;
  margin: 3rem 0rem;
  opacity: 0.6;
}

.paginate-container {
  margin-top: 1.5rem;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, auto);
}

.paginate-container a {
  cursor: pointer;
  text-decoration: none;
}

.paginate-container a.off {
  pointer-events: none;
  opacity: 0.5;
}

.fade-in-bottom {
  -webkit-animation: fade-in-bottom 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bottom 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade-in-fwd {
  -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade-out-bck {
  -webkit-animation: fade-out-bck 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: fade-out-bck 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-out-bck {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
}

@keyframes fade-out-bck {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
}

@media (prefers-color-scheme: dark) {
  a.item,
  nav,
  .aplayer .aplayer-info .aplayer-music .aplayer-title,
  .download-button,
  .loading-label,
  .markdown-body,
  .markdown-body code,
  .markdown-body pre,
  .markdown-body .highlight pre,
  .markdown-body table td,
  .markdown-body table th,
  .paginate-container span,
  .path a {
    color: #a2a2a2 !important;
  }
  body,
  div.fade-in-fwd,
  div.intro,
  div.medium-zoom-overlay,
  embed.pdfobject,
  img.medium-zoom-image {
    background: #1b1b1b !important;
  }
  embed.pdfobject,
  img.medium-zoom-image {
    opacity: 0.75 !important;
  }
  nav,
  .aplayer .aplayer-info,
  .items,
  .markdown-body,
  .markdown-body img {
    background: #131313 !important;
  }
  .aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon:hover path {
    fill: #a2a2a2 !important;
  }
  .aplayer .aplayer-info .aplayer-music .aplayer-author,
  .path {
    color: #626262 !important;
  }
  .markdown-body code,
  .markdown-body pre,
  .markdown-body .highlight pre,
  .markdown-body table td,
  .markdown-body table th {
    background: #2b2b2b !important;
  }
  .token.atrule,
  .token.attr-value,
  .token.punctuation,
  .token.string {
    color: #afd5fb !important;
  }
  .language-css .token.string,
  .token.entity,
  .token.operator,
  .token.url {
    color: #89befa !important;
  }
}
